# Binaries
*.exe
*.dll
*.so
*.dylib
/tlsprint
/cmd/tlsprint/tlsprint

# Test output
*.out
*.test
coverage.*

# Editor / OS
.idea/
.vscode/
.DS_Store
*.swp

# Go
vendor/

# Submodule example binaries
/client/examples/browser/browser
/examples/basic/basic

# root example binary
/basic
/client/browser
